{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Edit Movies{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">{{ movie.title }}</h1>
    <p class="description">Edit Movie Rating</p>
    <form class="col-4" action="{{ url_for('edit') }}" method="POST">
        <input hidden="hidden" name="id" value="{{movie.id}}">
        <label class="form-label label-p">Your Rating out of 10</label>
        <input class="form-control" name="rating" type="text" placeholder="New Rating">
        <label class="form-label label-p">Your Review</label>
        <input class="form-control" name="review" type="text" placeholder="New Review">
        <button class="btn btn-success done-b" type="submit" href="url_for('home')">Done</button>
    </form>
  </div>
{% endblock %}